* {
	text-decoration: none;
	text-align: center;
}

#abc {
	margin: auto;
	text-align: center;
	font-size: 25px;
}

a {
	color: blue;
}

th, td {
	border: 1px solid black;
	padding: 0;
	margin: 0;
}
table {
	border-collapse: collapse;
}


#table {
	margin: auto;
}

#table form table input {
	text-align: left;
}

#showit {
	width: 400px;
	margin: 50px auto;
}

img {
	width: 50px;
}
